<div class="inner video-section">
    
    <!--<video id="hero-video" autoplay muted playsinline></video>-->
    <video #heroVideo autoplay muted playsinline></video>
    
    <div class="overlay">
        <header>
            <!--<a (click)="scrollTo('solutions')"><img src="/assets/images/zentrixnest-logo-small.png" alt="ZentrixNest Logo" class="main-logo"></a>-->
            <p class="hero-slogan">
                Smart Home. <span>{{ 'HEADER.TITLE' | translate }}</span>
            </p>
        </header>
    </div>
    
</div>