<div class="inner video-section">
    
    <!--<video #heroVideo autoplay muted playsinline></video>-->
    <video #heroVideo autoplay muted playsinline preload="auto"></video>

    <div class="play-overlay" #playOverlay (click)="startVideo()">
        <div class="play-btn">▶</div>
    </div>

    <div class="overlay">
        <header>
            <!--<a (click)="scrollTo('solutions')"><img src="/assets/images/zentrixnest-logo-small.png" alt="ZentrixNest Logo" class="main-logo"></a>-->
            <p class="hero-slogan">
                Smart Home. <span>{{ 'HEADER.TITLE' | translate }}</span>
            </p>
        </header>
    </div>
    
</div>