<nav id="nav">
  <button class="hamburger" (click)="toggleMenu()">☰</button>
  <ul [class.open]="menuOpen">
    <li><a (click)="scrollTo('header')">{{ 'NAV.HOME' | translate }}</a></li>
    <li><a (click)="scrollTo('solutions')">{{ 'NAV.SOLUTIONS' | translate }}</a></li>
    <li><a (click)="scrollTo('plans')">{{ 'NAV.PLANS' | translate }}</a></li>
    <li><a (click)="scrollTo('care-plans')">{{ 'NAV.SUPPORT' | translate }}</a></li>
    <li><a (click)="scrollTo('AbouUs')">{{ 'NAV.ABOUT' | translate }}</a></li>
    <li><a (click)="scrollTo('Contact')">{{ 'NAV.CONTACT' | translate }}</a></li>
  </ul>
</nav>